*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
/* ! what i add */
  overflow: hidden;


}

body {
  background-color: #1e202b;
  font-family: Roboto, "Open Sans", sans-serif;
}
:root {
  --main-Color: #009ad8;

  --sub-color: #bfc1c8;
}
/* todo ============Global =============*/

.logo .navbar-brand {
  width: 64px;
}
.logo h1 {
  color: white;
  font-size: 16px;
  margin: 0;
}
.navbar-nav li a {
  color: white;
  padding: 2px;
  font-size: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.nav-link {
  background-color: transparent;
  border-radius: 30px;
  padding: 0px 15px;
  border: 2px solid transparent;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.nav-link:focus {
  color: var(--main-Color);
  border: 2px solid var(--main-Color);
  background-color: transparent;
}

.my-nav-style:hover {
  color: var(--main-Color);
  border: 2px solid var(--main-Color);
  background-color: transparent;
}

.nav-link:focus,
.my-nav-style:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--main-Color);
  border-color: var(--main-Color);
}

/*TODO Nav End  *

    /* todo Main Start */

.search input:focus {
  outline: none;
}
.search input {
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #1e202b;
}
.search input::placeholder {
  color: white;
}

.search button {
  background-color: var(--main-Color);
  right: 5px;
  bottom: 5px;
  padding: 10px 35px;
  border: none;
  color: white;
}
.card {
  background-color: #323544;
  color: white;
  height: 40vh;
}
.main-card h4 {
  font-weight: 700;
  font-size: 90px;
}
.sub-card h4 {
  font-size: 18px;
  font-weight: 700;
}
.mid {
  background-color: #262936;
  --bs-border-radius: 0px !important;
}
.sub-card h6 {
  font-size: 16px;
  font-weight: 300;
  color: var(--sub-color);
}
.card p {
  color: var(--main-Color);
}
.days,
#mainDay {
  font-weight: 400;
  font-size: 14px;
  color: var(--sub-color);
}

#currentDate {
  color: var(--sub-color);
}
.card-header {
  background-color: #2c2f3d;
}
.mid .card-header {
  background-color: #222430;
}

.w-1 {
  width: 15px;
  color: white;
}
.hero {
  background: url(../img/banner.png) center center no-repeat;

  position: relative;
  width: 100vw;
  height: 30vh;
  position: absolute;
  left: 50%;

  top: 15%;
  transform: translateX(-50%);
}

/* todo Footer Start */
footer {
  background-color: #262936;
}
footer ul {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: auto;
}
footer ul li a {
  color: var(--main-Color);
  background-color: #1e202b;
  padding: 13px 15px;
  border-radius: 50%;
  transition: 0.5s all;
}

footer ul li a:hover {
  background-color: var(--main-Color);
  color: white;
}



.navbar-toggler-icon {
  filter: invert(100%);
}

/* todo ====================Media Q =============== */

@media (max-width: 575.98px) {
  .main-card h4 {
    font-size: 50px;
  }

  .hero {
    top: auto;
    transform: translateX(-50%);
  }

  .navbar .navbar-nav {
    display: inline;
    text-align: center;
  }

  .navbar .navbar-nav li {
    height: 6vh;

    background-color: #262936;
  }

  .nav-link:focus {
    color: white;
    border: none;
    background-color: transparent;
  }

  .my-nav-style:hover {
    color: white;
    border: none;
    background-color: transparent;
  }

  .nav-link:focus,
  .my-nav-style:hover,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    border-color: transparent;
  }

  input::placeholder {
    font-size: 12px;
    font-weight: 700;
  }
}

@media (min-width: 991.98px) {
  .main-card h4 {
    font-size: 60px;
  }
}
